  <h1>Infos und Links</h1>


  <h4>Links</h4>
  
  <a href="http://styleguide.material-design-lite.pub/#/">Material Design Ligth (Dart)</a><br>
  <a href="https://material.io/components/web/catalog/">Material Design Components for the web</a><br>
  <a href="https://material.io/icons/#ic_menu">Google Icons</a><br>
  <a href="https://getmdl.io/">Material Design Ligth (Google)</a><br>
  <a href="https://github.com/material-components/material-components-web">Material Components for the web</a><br>
  <a href="https://codepen.io/pen/">codepen</a><br>
<p>
  <h4>charts</h4>
  <a href="http://www.chartjs.org/samples/latest/charts/area/line-boundaries.html">JS charts</a><br>

<p>
  <h4>Div-Tables</h4>
  <a href="http://styleguide.material-design-lite.pub/#/data-table2">Google Icons</a><br>
  <a href="https://material.angular.io/components/table/examples">Mateerial angular io</a><br>


<p>
  <h4>Struktur</h4>
  <a href="https://github.com/mgechev/angular-seed">Struktur</a><br>

<p>
  <h4>Testing</h4>
  <a href="https://github.com/karma-runner/karma">Karma</a><br>
  <a href="https://jasmine.github.io/edge/node.html">Jasmin</a><br>

